<div class="mx-auto flex h-full max-w-7xl flex-1 flex-col gap-y-5 p-4">
  @let messages = sessionMessages();
  @if (messages !== null) {
    @for (message of messages; track message) {
      @for (part of message.parts | filterValidParts; track part.id) {
        @if (part.type === 'text') {
          <app-text-part
            [info]="message.info"
            [part]="part"
          />
        }

        @if (part.type === 'reasoning') {
          <app-reasoning-part
            [info]="message.info"
            [part]="part"
          />
        }

        @if (part.type === 'tool') {
          <app-tool-part
            [info]="message.info"
            [part]="part"
          />
        }
      }
    }
  } @else {
    <div class="flex h-full items-center justify-center text-2xl text-gray-500 italic">
      <div>Create or select a session to start.</div>
    </div>
  }
</div>
