<div class="mx-auto flex max-w-7xl flex-1 flex-col gap-y-5 p-4">
  @let messages = sessionMessages();
  @if (messages !== null) {
    @for (message of messages; track message) {
      @for (part of message.parts | filterValidParts; track part.id) {
        @if (part.type === 'text') {
          <app-text-part
            [info]="message.info"
            [part]="part"
          />
        }

        @if (part.type === 'reasoning') {
          <app-reasoning-part
            [info]="message.info"
            [part]="part"
          />
        }

        <!--        @if (part.type === 'tool') {-->
        <!--          <app-tool-part-->
        <!--            [info]="message.info"-->
        <!--            [part]="part"-->
        <!--          />-->
        <!--        }-->
      }
    }
  } @else {
    <div class="mt-10 text-center text-gray-500">Select a session to start.</div>
  }
</div>
