@let role = info().role;
<div
  [pClass]="[
    'flex w-full flex-col gap-y-1.5',
    {
      'items-end pl-50': role === 'user',
      'items-start pr-50': role !== 'user',
    },
  ]"
>
  <div
    [pClass]="[
      'rounded-lg border p-4 text-slate-700 shadow-lg',
      {
        'border-sky-100 bg-linear-to-b from-sky-50 to-sky-100': role === 'user',
        'border-amber-100 bg-linear-to-b from-amber-50 to-amber-100': role !== 'user',
      },
    ]"
  >
    <app-ui-markdown [data]="part().text" />
  </div>

  <p class="text-xs">{{ info().time.created | relativeTime }}</p>
</div>
