<div class="flex h-full flex-col p-2">
  <p-button
    (onClick)="createNewSession()"
    class="mb-2"
    label="New session"
    styleClass="w-full"
  >
    <ng-template #icon>
      <app-ui-icon name="plus-circle" />
    </ng-template>
  </p-button>

  <div class="flex-1 overflow-y-auto">
    @for (session of sessions(); track session) {
      <div
        (click)="selectSession(session.id)"
        (contextmenu)="openContextMenu($event, session.id)"
        [pClass]="[
          'mb-1 cursor-pointer rounded border-r-4 p-2',
          {
            'border-emerald-400/25 bg-emerald-300/25 hover:bg-emerald-400/25': sessionId() === session.id,
            'border-slate-400/25 bg-slate-300/25 hover:bg-slate-400/25': sessionId() !== session.id,
          },
        ]"
      >
        <div>{{ session.title }}</div>
        @if (environment.env !== 'production') {
          <div class="text-xs">{{ session.id }}</div>
        }
      </div>
    }
  </div>
</div>

<p-contextmenu
  #contextMenu
  (onHide)="hideContextMenu()"
  [model]="contextMenuItems"
>
  <ng-template
    #item
    let-item
  >
    <a class="p-contextmenu-item-link flex items-center">
      <span class="flex-1">{{ item.label }}</span>
      <app-ui-icon
        [class]="item.iconClass ?? 'text-slate-500'"
        [name]="item.icon"
      />
    </a>
  </ng-template>
</p-contextmenu>
