<div class="flex h-full flex-col p-2">
  <p-button
    label="New session"
    class="mb-2"
    styleClass="w-full"
    (onClick)="createNewSession()"
  >
    <ng-template #icon>
      <app-ui-icon [icon]="faPlusCircle" />
    </ng-template>
  </p-button>

  <div class="flex-1 overflow-y-auto">
    @for (session of sessions(); track session) {
      <div
        [pClass]="[
          'mb-1 cursor-pointer rounded border-r-4 p-2',
          {
            'border-emerald-400/25 bg-emerald-300/25 hover:bg-emerald-400/25': currentSessionId() === session.id,
            'border-slate-400/25 bg-slate-300/25 hover:bg-slate-400/25': currentSessionId() !== session.id,
          },
        ]"
        (click)="selectSession(session.id)"
        (contextmenu)="openContextMenu($event, session.id)"
      >
        <div>{{ session.title }}</div>
      </div>
    }
  </div>
</div>

<p-contextmenu
  #contextMenu
  [model]="contextMenuItems"
  (onHide)="hideContextMenu()"
>
  <ng-template
    #item
    let-item
  >
    <a class="p-contextmenu-item-link flex items-center">
      <span class="flex-1">{{ item.label }}</span>
      <app-ui-icon
        [icon]="item.icon"
        [class]="item.iconClass ?? 'text-slate-500'"
      />
    </a>
  </ng-template>
</p-contextmenu>
