<div class="flex h-full flex-col p-2">
  <p-button
    label="New session"
    class="mb-2"
    styleClass="w-full"
    (onClick)="createNewSession()"
  >
    <ng-template #icon>
      <app-ui-icon [icon]="faPlusCircle" />
    </ng-template>
  </p-button>

  <div class="flex-1 overflow-y-auto">
    @for (conv of sessions(); track conv) {
      <div
        [pClass]="[
          'mb-1 cursor-pointer rounded border-r-4 p-2',
          {
            'border-emerald-400/25 bg-emerald-300/25 hover:bg-emerald-400/25': selectedSessionId() === conv.id,
            'border-slate-400/25 bg-slate-300/25 hover:bg-slate-400/25': selectedSessionId() !== conv.id,
          },
        ]"
        (click)="selectSession(conv.id)"
      >
        <div class="font-semibold">{{ conv.title }}</div>
        <div class="text-sm text-gray-600">{{ conv.lastMessage }}</div>
      </div>
    }
  </div>
</div>
