<div class="flex items-end gap-x-2">
  <app-ui-textarea
    (keydown.control.enter)="onSend()"
    [(value)]="message"
    [autoResizeMaxHeight]="200"
    [autoResizeMinHeight]="50"
    autoResize="true"
    class="w-full"
    placeholder="Write your question"
  />

  <p-button
    (onClick)="onSend()"
    class="rounded-l-none"
    icon="pi pi-send"
    label="Send"
    styleClass="h-16 rounded-l-none"
  >
    <ng-template #icon>
      <app-ui-icon
        [icon]="faPaperPlane"
        class="text-xl"
      />
    </ng-template>
  </p-button>
</div>
