@let time = part().time;

<div class="flex w-full flex-col items-start gap-y-1.5 pr-50 text-sm">
  <app-ui-collapsible
    [header]="!time.end ? 'Thinking...' : 'Thought during ' + (time | partTimeDuration) + ' seconds :'"
    styleClass="w-full rounded-lg border border-slate-100 bg-linear-to-b from-slate-50 to-slate-100 p-4 text-slate-700 shadow-lg"
  >
    <app-ui-markdown
      [data]="part().text"
      class="inline-flex"
    />
  </app-ui-collapsible>

  <p class="text-xs">{{ info().time.created | relativeTime }}</p>
</div>
